.homepage_photo{
	width:200px;
	height: 150px !important;
}
.photo_photo{
	width: 500px;
}

/************************** Home Page Pagination ********************************/
.pager .active a{
	background-color: black;
	color: white;
}

.pager .active a:hover{
	background-color: black;
	color: white;
}